@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';
@import '../../node_modules/bulma/sass/utilities/functions.sass';

//$primary: purple;
$card-shadow: none;
$card-header-shadow: none;
$box-shadow: none;
$card-background-color:#f4f6fb;



@import '../../node_modules/bulma/bulma'
